Repository kyewu/kz-vue-learn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint . --ext .vue,.js,.jsx,.cjs,.mjs,.ts,.tsx,.cts,.mts --fix

.lintstagedrc:

{
  "*.{ts,js,json,css,scss,md,vue,jsx,tsx}": "prettier --write .",
  "*.{ts,js,vue}": ["eslint . --ext .vue,.js,.jsx,.cjs,.mjs,.ts,.tsx,.cts,.mts --fix"]
}

foo: add commit
  index.html
Due: none

foo: add commit
  .eslintignore
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc.json
  .vscode/extensions.json
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components.d.ts
  src/layouts/404.vue
  src/layouts/home.vue
  src/pages/2.vue
  src/pages/[...all].vue
  src/pages/index.vue
  tsconfig.app.json
  tsconfig.vitest.json
  vite.config.ts
Due: prettier --write ., eslint . --ext .vue,.js,.jsx,.cjs,.mjs,.ts,.tsx,.cts,.mts --fix

feat: Add husky, commitlint, lint-staged
  .husky/commit-msg
  package.json
Due: prettier --write .

feat: Add husky, commitlint, lint-staged
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: prettier --write ., eslint . --ext .vue,.js,.jsx,.cjs,.mjs,.ts,.tsx,.cts,.mts --fix

feat: Add husky, commitlint, lint-staged
  package.json
Due: prettier --write .

feat: Config lint-staged
  .husky/pre-commit
  package.json
Due: prettier --write .

feat: Store template with vue3, unocss, plugins and husky
  src/pages/2.vue
Due: prettier --write ., eslint . --ext .vue,.js,.jsx,.cjs,.mjs,.ts,.tsx,.cts,.mts --fix

feat: Store template
  README.md
  index.html
  package.json
  src/auto-imports.d.ts
  src/components.d.ts
  src/typed-router.d.ts
Due: prettier --write ., eslint . --ext .vue,.js,.jsx,.cjs,.mjs,.ts,.tsx,.cts,.mts --fix

chore: Update README
  README.md
Due: prettier --write .
